<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pablosanchezegido.petcity">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".features.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatusBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.registration.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatusBar"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".features.main.MainActivity" />

        <activity
            android:name=".features.publish.titledetail.PublishTitleDetailActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".features.publish.images.PublishImagesActivity" />

        <activity android:name=".features.publish.place.PublishPlaceActivity" />

        <activity android:name=".features.publish.dates.PublishDatesActivity" />

        <activity android:name=".features.publish.animals.PublishAnimalsActivity" />

        <activity
            android:name=".features.offers.detail.OfferDetailActivity"
            android:theme="@style/AppTheme.TranslucentStatusBar" />

        <activity
            android:name=".features.settings.SettingsActivity"
            android:theme="@style/AppTheme.Dialog" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
